@import url('https://fonts.googleapis.com/css?family=Fira+Sans+Extra+Condensed&display=swap');

* {
    font-family:'Fira Sans Extra Condensed', sans-serif;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

#texto {
    height: 300px;
    width: 300px; 
    background-color: black;
}

#imagem1{
    width: 600px;
}
#texto1 {
    width: 600px;
    background-color: #d3fbf0;
}

#imagem {
    height: 300px;
    width: 300px; 
    background-color: blue;
}

#inicio{
    background-image: linear-gradient( 135deg, #90F7EC 10%, #32CCBC 100%);
}

#principal{
    height: 100vh;
}

#qsomos{
    height: 100vh;
}

#nossotime{
    height: 100vh;
}

#acolhimento{
    height: 130vh;
}

#footer{
    height: 30vh;
    background-image: linear-gradient( 135deg, #90F7EC 10%, #32CCBC 100%);
}   

#faq{
    height: 20vw;
}
#politica{
    height: 70vw;
}

#textoPolitica{
    width: 45vw;
}
