@import url('https://fonts.googleapis.com/css?family=Fira+Sans+Extra+Condensed&display=swap');

* {
    font-family:'Fira Sans Extra Condensed', sans-serif;
    scroll-behavior: smooth;
}

header{
    
    background-color: #d3fbf0;
}

article{
    height: 100vh;
    /* d */
}

aside{ 
    height: 100vh;
    /* background-color: chocolate; */
}

aside > div{
    height: 50vh;
    width: 40vw;  
}

aside > div > img{
    width: 70%;
    -webkit-box-shadow: 7px 6px 22px 2px rgba(0,0,0,0.34); 
    box-shadow: 7px 6px 22px 2px rgba(0,0,0,0.34);
}

aside > div > P{
    width: 60%;
    font-family:'Fira Sans Extra Condensed', sans-serif;
    font-size: 13pt;   
}

#navcolor{
    background-color: #ffffff;
}
#teste{
    height: 80vh;
    width: 50vw;
    
}

#teste1{
    height: 50vh;
    width: 45vw;
}

#texto{
    width: 200px;
    height: 200px;
}